* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none !important;

}

.shopping-cart {
  width: 750px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 28px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

#clearCart{
  margin-top: 50px;
  border-radius: 20px;
  margin: 30px 270px;
}
#clearCart:hover{
  background-color: rgb(165, 25, 25);
  color: white;
}
#checkout{
  margin-top: 50px;
  border-radius: 20px;
  margin: 20px 270px;
}
#checkout a{
  color: black;
}
#checkout:hover{
  background-color: darkgreen;
}
#checkout a t:hover{
  color: white;
}
.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
