* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1034px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 500px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card{
  background-color: rgb(222, 237, 222) !important;
  border-radius: 55px !important ;
  padding: 38px 63px;
}

#userData {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(222, 237, 222);
}

#productList .btn {
  background-color: rgba(94, 148, 0, 255);
}

#productList .btn:hover {
  background-color: rgb(55, 93, 55);
}