* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'ralewayblack';
}

.selectAddress{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px;
}
.addressBtn{
    padding: 5px 33px;
    margin-right: 70px;
}